# Install pyspark

In [1]:
# Installing required packages
!pip install pyspark
!pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 67.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=f0320eca9ee6be58ee0a67a22c3f8eba2d5707478340977f67c5e32179ed38a1
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

## Exercise 1 -  Spark Context and Spark Session

In this exercise, you will create the Spark Context and initialize the Spark session needed for SparkSQL and DataFrames.
SparkContext is the entry point for Spark applications and contains functions to create RDDs such as `parallelize()`. SparkSession is needed for SparkSQL and DataFrame operations.

#### Task 1: Creating the spark session and context

In [2]:
import findspark
findspark.init()

# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the spark context. 
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

# Creating a spark context class
sc = SparkContext()

# Creating a spark session
spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

## Exercise 3: DataFrames and SparkSQL

In order to work with the extremely powerful SQL engine in Apache Spark, you will need a Spark Session. We have created that in the first Exercise, let us verify that spark session is still active.

#### Task 1: Create a DataFrame!

You can create a structured data set (much like a database table) in Spark.  Once you have done that, you can then use powerful SQL tools to query and join your dataframes.

In [3]:
!curl https://raw.githubusercontent.com/PacktPublishing/Jupyter-for-Data-Science/master/Chapter04/files/people.json >> people.json

# Read the dataset into a spark dataframe using the `read.json()` function
df = spark.read.json("people.json").cache()

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   227  100   227    0     0   1455      0 --:--:-- --:--:-- --:--:--  1455

In [4]:
# Print the dataframe as well as the data schema
df.show()
df.printSchema()

+----+----+--------------------+---------------+
| age|born|                fame|           name|
+----+----+--------------------+---------------+
|null|null|                null|        Michael|
|  30|null|                null|           Andy|
|  19|null|                null|         Justin|
|null|1955|co-founder of App...|     Steve Jobs|
|null|1955|                null|Tim Berners-Lee|
|null|1815|                null|   George Boole|
+----+----+--------------------+---------------+

root
 |-- age: long (nullable = true)
 |-- born: long (nullable = true)
 |-- fame: string (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
# Register the DataFrame as a SQL temporary view
df.createTempView("people")

AnalysisException: Temporary view 'people' already exists

#### Task 2: Explore the data using DataFrame functions and SparkSQL

In this section, we explore the datasets using functions both from dataframes as well as corresponding SQL queries using sparksql. Note the different ways to achieve the same task!

In [ ]:
# Select and show basic data columns

df.select("name").show()
df.select(df["name"]).show()
spark.sql("SELECT name FROM people").show()

+---------------+
|           name|
+---------------+
|        Michael|
|           Andy|
|         Justin|
|        Michael|
|           Andy|
|         Justin|
|        Michael|
|           Andy|
|         Justin|
|     Steve Jobs|
|Tim Berners-Lee|
|   George Boole|
+---------------+

+---------------+
|           name|
+---------------+
|        Michael|
|           Andy|
|         Justin|
|        Michael|
|           Andy|
|         Justin|
|        Michael|
|           Andy|
|         Justin|
|     Steve Jobs|
|Tim Berners-Lee|
|   George Boole|
+---------------+

+---------------+
|           name|
+---------------+
|        Michael|
|           Andy|
|         Justin|
|        Michael|
|           Andy|
|         Justin|
|        Michael|
|           Andy|
|         Justin|
|     Steve Jobs|
|Tim Berners-Lee|
|   George Boole|
+---------------+

In [ ]:
# Perform basic filtering

df.filter(df["age"] > 21).show()
spark.sql("SELECT age, name FROM people WHERE age > 21").show()

+---+----+----+----+
|age|born|fame|name|
+---+----+----+----+
| 30|null|null|Andy|
| 30|null|null|Andy|
| 30|null|null|Andy|
+---+----+----+----+

+---+----+
|age|name|
+---+----+
| 30|Andy|
| 30|Andy|
| 30|Andy|
+---+----+

In [ ]:
# Perfom basic aggregation of data

df.groupBy("age").count().show()
spark.sql("SELECT age, COUNT(age) as count FROM people GROUP BY age").show()

+----+-----+
| age|count|
+----+-----+
|  19|    3|
|null|    6|
|  30|    3|
+----+-----+

+----+-----+
| age|count|
+----+-----+
|  19|    3|
|null|    0|
|  30|    3|
+----+-----+

***

### Question 1 - RDDs

Create an RDD with integers from 1-50. Apply a transformation to multiply every number by 2, resulting in an RDD that contains the first 50 even numbers.

In [ ]:
# starter code
# numbers = range(1, 50)
# numbers_RDD = ...
# even_numbers_RDD = numbers_RDD.map(lambda x: ..)

In [ ]:
# Code block for learners to answer

### Question 2 - DataFrames and SparkSQL

Similar to the `people.json` file, now read the `people2.json` file into the notebook, load it into a dataframe and apply SQL operations to determine the average age in our people2 file.

In [ ]:
# starter code
# !curl https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/labs/people2.json >> people2.json
# df = spark.read...
# df.createTempView..
# spark.sql("SELECT ...")

In [ ]:
# Code block for learners to answer

Double-click **here** for a hint.

<!-- The hint is below:

1. The SQL query "Select AVG(column_name) from.." can be used to find the average value of a column. 
2. Another possible way is to use the dataframe operations select() and mean()
-->

Double-click **here** for the solution.

<!-- The answer is below:
df = spark.read('people2.json')
df.createTempView("people2")
spark.sql("SELECT AVG(age) from people2")
-->

### Question 3 - SparkSession

Close the SparkSession we created for this notebook

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

spark.stop() will stop the spark session

-->