<img src="https://github.com/antonioGoncalves64/pyspark/blob/main/python.png?raw=1" alt="drawing" width="250"/>

# Lab List Comprehensions and Generators

Like list comprehensions, generator expressions allow you to quickly create a generator object in just a few lines of code. They’re also useful in the same cases where list comprehensions are used, with an added benefit: you can create them without building and holding the entire object in memory before iteration. In other words, you’ll have no memory penalty when you use generator expressions. Take this example of squaring some numbers:

In [1]:
nums_squared_lc = [num**2 for num in range(5)]
nums_squared_gc = (num**2 for num in range(5))

Both nums_squared_lc and nums_squared_gc look basically the same, but there’s one key difference. Can you spot it? Take a look at what happens when you inspect each of these objects:

In [3]:
print (nums_squared_lc)
print(nums_squared_gc)

[0, 1, 4, 9, 16]
<generator object <genexpr> at 0x7f74e7753580>

The first object used brackets to build a list, while the second created a generator expression by using parentheses. The output confirms that you’ve created a generator object and that it is distinct from a list.

## Exercise 1 - Given a list of numbers, remove all odd numbers from the list

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

result = [number for number in numbers if number % 2 == 0]
print(result)

-->

## Exercise 2 - Given a list of numbers, remove floats (numbers with decimals)

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

original_list = [2,3.75,.04,59.354,6,7.7777,8,9]
only_ints = [number for number in original_list if type(number) == int]
print(only_ints)

-->

## Exercise 3 - Find all of the numbers from 1-1000 that are divisible by

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

div7 = [n for n in range(1,1000) if n % 7 == 0] 
print(div7)

-->

## Exercise 4 - Count the number of spaces in a string

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

some_string = 'the slow solid squid swam sumptuously through the slimy swamp'
spaces = [s for s in some_string if s == ' ']
print(len(spaces))

-->

## Exercise 5 - Find the common numbers in two lists (without using a tuple or set) list_a = [1, 2, 3, 4], list_b = [2, 3, 4, 5] result = [2, 3, 4]

In [5]:
# Code block for learners to answer

list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 7]
common = [a for a in list_a if a  in list_b]
print(common)

[2, 3, 4]

Double-click **here** for the solution.

<!-- The answer is below:

list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
common = [a for a in list_a if a in list_b]
print(common)

-->

## Exercise 6 - Given numbers = range(20), produce a list containing the word 'even' if a number in the numbers is even, and the word 'odd'

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

result = ['even' if n%2 == 0 else 'odd' for n in range(20)]
print(result)

-->

## Exercise 7 - Produce a list of tuples consisting of only the matching numbers in these lists list_a = [1, 2, 3,4,5,6,7,8,9], list_b = [2, 7, 1, 12].  Result would look like (4,4), (12,12)

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

list_a = [1, 2, 3,4,5,6,7,8,9]
list_b = [2, 7, 1, 12]

result = [(a, b) for a in list_a for b in list_b if a == b]
print(result)

-->

## Exercise 8 - Use a nested list comprehension to find all of the numbers from 1-100 that are divisible by any single digit besides 1 (2-9)

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

result = [number for number in range(1,100) if True in [True for x in range(2,10) if number % x == 0]]
print(result)

-->

## Exercise 9 - Using list comprehension, construct a list from the squares of each element in the list, if the square is greater than 50.

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

lst1=[2, 4, 6, 8, 10, 12, 14]
lst2 = [i**2 for i in lst1 if i**2>50]

-->

## Exercise 10 - Using list comprehension, construct a list from the squares of each element in the list, if the square is greater than 50.

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

lst1=[2, 4, 6, 8, 10, 12, 14]
lst2 = [i**2 for i in lst1 if i**2>50]

-->

## Exercise 11 - Given a Python list, write a program to remove all occurrences of item 20.

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

list1 = [5, 20, 15, 20, 25, 50, 20]

# remove specific items and return a new list
def remove_value(sample_list, val):
    return [i for i in sample_list if i != val]

res = remove_value(list1, 20)
print(res)

-->

## Exercise 12 - create a list of even numbers between 0 and 9.

In [ ]:
# Code block for learners to answer



Double-click **here** for the solution.

<!-- The answer is below:

[i for i in range(10) if i%2 == 0]

-->

## Exercise 13 - Square only the even numbers in mylist and store the result in a list.

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

mylist = [1,2,3,4,5]

result = [i**2 for i in mylist if i%2==0]
print(result)

-->

## Exercise 14 - In mylist, square the number if its even, else, cube it.

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

mylist = [1,2,3,4,5]

[i**2 if i%2==0 else i**3 for i in mylist ]

-->

## Exercise 15 - Flatten the matrix mat (a list of lists) keeping only the even numbers.

mat = [[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16]]

In [ ]:
# Code block for learners to answer

Double-click **here** for the solution.

<!-- The answer is below:

mat = [[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16]]

[i for row in mat for i in row if i%2==0]

-->